

.well{
  margin: 50px 70px 50px 70px;
}

.thumbnail{
  padding: 2px;
}

.doublelist {
  padding: 20px 20px 20px 20px;
}

.explainer{
  padding: 20px 20px 20px 20px;
}

.glyphicon.glyphicon-tree-conifer{
  font-size:30px;
}